.image {
    border: 8px solid #c00;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 10px 5px grey;
    width: 12rem;
    height: 8rem;
}
@media (min-width: 525px) {
    .image {
        width: 10rem;
        height: 7rem;
    }
}

@media (min-width: 800px) {
    .image {
        width: 9rem;
        height: 6rem;
    }
}

@media (min-width: 1150px) {
    .image {
        width: 8rem;
        height: 5rem;
    }
}